<h1>Simple Airbnb</h1>

<% @flats.each do |flat| %>
  <div class="card">
    <h3><%= flat.name %></h3>
    <p><%= flat.address %></p>
    <div>
      <div>
        <i></i>
        <p><%= flat.number_of_guests %></p>
      </div>
      <div>
        <i></i>
        <p><%= flat.price_per_night %></p>
      </div>
    </div>
  </div>
<% end %>
